[submodule "rails"]
	path = rails-app
  url = git://github.com/strk/cartodb.git
[submodule "tiler"]
	path = map-api
  url = git://github.com/strk/Windshaft-CartoDB.git
[submodule "sql-api"]
	path = sql-api
  url = git://github.com/strk/CartoDB-SQL-API.git
